@font-face {
    font-family: 'Poppins Black';
    src: url('~/app/assets/fonts/Poppins-Black.ttf');
}

@font-face {
    font-family: 'Poppins Thin';
    src: url('~/app/assets/fonts/Poppins-Thin.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('~/app/assets/fonts/Poppins-Regular.ttf');
}